/* importanto o arquivo de reset de estilos */
@import url(reset.css);


/* Configurando opções para o corpo todo da página e tag gerais*/
body {
    background-color: #000000;
}

section{
    margin: 100px auto
}

p{
    color: #ffffff
}

h2 {
    font-size: 32x;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }


/* configurando a aparência do cabeçalho da página e seus textos */
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 605px;
    border-bottom: 1px solid #33A8DB;
    padding-top: 60px;
}

.banner .banner-content{
    color: #ffffff;
    width: 600px;
    margin: auto;
    text-align: center
}


.banner h1{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner p{
    font-size: 20px;
    margin: 16px 0 24px
}

.banner .logo{
    background-color: rgba(0, 0, 0, 0.2);
    height: 260px;
    width:260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .logo img{
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain
}

.banner .banner-content button{
    color: #31a8dd;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border: 2px solid;
    border-image-source: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
    border-image-slice: 10;
    border-radius: 30px
}


/* configurando a aparência da seção principal da página */
#course-content{
    width: 800px;
    text-align: center
}

#course-content .modules-list{
    margin: 24px 0
}

#course-content .modules-list .module{
    color: #ffffff;
    width: 530px;
    margin: 0 auto 24px;
    background-color: #252525;
    padding: 16px;
    border: 1px solid #33a8db;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, 0.7)
}

#course-content .modules-list .module span{
    color: #33a8db
}


/* configurando a aparência da imagem central que irá permanecer parada enquanto a página rola */
#transform-world{
    height: 560px;
    background-size: cover;
    background-image: url("../images/woman-code.png");
    background-attachment: fixed;
    border-top: 1px solid #33a8db80;
    border-bottom:#33a8db80;
    padding: 200px
}

#transform-world p{
  font-weight: 900;
  font-size: 40px;
  text-transform: lowercase;
  max-width: 250px;
  text-shadow: 3px 2px #33a8db
}


/* configurando a aparência da seção com informações profissionais */
#professional-challenges{
  text-align: center;
  width: 800px
}

#professional-challenges img{
  margin: 32px 0
}


/* configurando o rodapé da página */
footer{
  padding: 60px 0;
  text-align: center;
  background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
  border-top: 1px solid #33a8db80
}

footer .dio-logo{
  width: 300px
}

footer a{
  color: #33a8db;
  font-weight: bold;
  text-decoration: none
}
  